<div class="d-flex justify-content-center m-5">
    <div class="col-md-8">
        <h1>Login</h1>
        <form (ngSubmit)="onLoginSubmit()">
            <div class="mb-3">
                <label for="loginInput" class="form-label">Login</label>
                <input type="text" class="form-control" id="loginInput" name="login" (ngModel)="login">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password" [(ngModel)]="password" (ngModelChange)="hash_pw(password)">
            </div>
            <div class="mb-3">
                <label for="keyInput" class="form-label">Key</label>
                <input type="text" class="form-control" id="keyInput" name="key" disabled [ngModel]="key">
            </div>
            <div class="mb-3">
                <label for="hashInput" class="form-label">Hash</label>
                <input type="text" class="form-control" id="hashInput" name="hash" disabled [ngModel]="hash">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <p>Cached key for this session: {{result}}</p>
    </div>
</div>